
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-auto-columns: auto;
}

main {
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

.calculator-box {
    display: grid;
    grid-template-columns: 100px 10px 100px 80px auto;
    grid-auto-rows: min-content;
    grid-gap: 10px;
}
     
section {
    display: contents;
    background-color: burlywood;
    border: 10px, solid, cadetblue;
    height: 50px;
    width: 420px;
    padding: 10px 20px 10px;
}

#add-button:hover {
    cursor: pointer;
}

.function-name {
    font-size: 20px;
    font-weight: 700;
}